html,body {
	font-family: 'Inconsolata', monospace;
	font-weight: 100;
}

#workbench_parts_title {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

.in-markdown {
	padding: 20px;
	background-color: #28282A;
	color: #CCCCCC;
	font-family: 'Inconsolata', monospace;
}